/* Container for the skills section */
.skills-section {
    max-width: 800px;
    margin: 0 auto;
}

/* Flex container to arrange skills in a flow layout */
.skill-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin: 0 auto; /* Center the container itself */
}

.title-image {
    max-width: 280px; /* Limit the width */
    width: 100%; /* Ensure it fits within the container */
    height: 180px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area */
 
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}




/* Style for the skill components */
/* Style for the skill components */
.skill {
    display: flex;
    align-items: center;
    max-width: 400px; /* Fixed width for each skill block */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    position: relative;
}


/* Grid container for skill items */
.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust to fit 3 items per row */
    gap: 15px;
    justify-content: center;
}

/* Skill bar container */
.skill-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 12px;
    width: 100%; /* Fixed width relative to the skill block */
    position: relative;
    overflow: hidden;
}

/* Skill progress bar */
.skill-progress {
    height: 100%;
    background-color: #007bff;
    border-radius: 5px;
    width: 0; /* Start with 0 width */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 12px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
}


/* Skill logo styling */
.skill-logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* Skill bar container */


/* Skill name styling */
.skill-name {
    margin-left: 15px;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .skill {
        max-width: 100%; /* Ensure skills take full width on smaller screens */
    }
}

/* Dark mode adjustments */
body.dark-mode .skill {
    background-color: #333;
    border-color: #444;
}

body.dark-mode .skill-bar {
    background-color: #555;
}

body.dark-mode .skill-progress {
    background-color: #4CAF50;
}

body.dark-mode .skill-name {
    color: #fff;
}
